.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Header {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 440px;
}

.ImageBG {
  background-position: center;
  background-size: cover;
}
.Image {
  background-position: top;
  background-size: cover;
}






.Search::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Search::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
.Search::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 16px;
}

/* Handle on hover */
.Search::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.profileBtn:hover  {
    background-color: rgb(147, 147, 147);
    transition: all 400ms;
}